#background_blue{
    background-color: #4285f4;
    color: white;
}
#logo{
    font-size: larger;
}
#plus_button{
    background-color: #4285f4;
    font-size: 1.3em;
}


.black-background{
    background-color: rgba(100,100,200,0.1) !important;
    color: black !important;
}
body{
    height: 100%;
}
html{
    font-size: medium;
    height: 100%;
}
.height_full{
    height: 100%;
}

.selected{
    background-color: rgba(0,0,200,0.1);
}
.btn_selected{
    background-color: rgba(0,0,0,0);
    color: black;
}
